<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mielke/1.0</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    main {
      width: 48rem;
      margin: 0 auto;
    }

    main, select, input, button {
      font: .8rem/1rem 'Menlo', 'Droid Sans Mono', 'Courier New', monospace;
    }

    section {
      display: flex;
      justify-content: space-between;
    }

    section > div {
      flex: 1;
      padding: .5rem;
    }

    @media (max-width: 48rem) {
      main {
        width: 98%;
      }
    }

    @media (max-width: 24rem) {
      section > aside {
        width: 100%;
      }
    }

    button, section, article, input {
      border-radius: .25rem;
      outline: 0;
      border: 0;
      padding: .25rem .75rem;
    }

    article {
      margin: 1rem 2rem;
      border: 1px solid;
    }

    button {
      text-transform: uppercase;
      text-align: center
    }

    .large {
      padding: 1rem 3rem;
      font-size: .8rem;
    }

    table {
      border-collapse: collapse;
      border-radius: .25rem;
      border-spacing: 0;
      width: 100%
    }

    th, td {
      padding: .5rem;
      text-align: left
    }

    .center {
      text-align: center
    }

    .bold {
      font-weight: 900;
    }

    .dark-gray,
    th, button {
      background-color: #4f5459
    }

    .dark-gray-text {
      color: #4f5459
    }

    .gray-text {
      color: #858d96
    }

    .light-gray,
    tr:nth-child(2n-1) {
      background-color: #e2e5e9
    }

    .light-gray-text,
    th {
      color: #e2e5e9
    }

    .red {
      background-color: #ff7772
    }

    .red-text {
      color: #ff7772
    }

    .green {
      background-color: #67ba72
    }

    .green-text {
      color: #67ba72
    }

    .blue {
      background-color: #70bde6
    }

    .blue-text {
      color: #70bde6
    }

    .yellow {
      background-color: #ffdd69
    }

    .yellow-text {
      color: #ffdd69
    }

    .magenta {
      background-color: #bf75ff
    }

    .magenta-text {
      color: #bf75ff
    }

    .cyan {
      background-color: #92f9f6
    }

    .cyan-text {
      color: #92f9f6
    }

    .black {
      background-color: #353535
    }

    .black-text {
      color: #353535
    }



  </style>
</head>

<body>

<main>
  <section class="light-gray">
    <div><h1>Mielke/1.0</h1></div>
  </section>
  <section>
    <div>{{ range .List }}
      <article id="st-{{ .Hostname }}" class="{{ if .Online }}green-text{{ else }}red-text{{ end }}">
        <p>{{ .Alias }} <small class="gray-text">{{ .Hostname }}</small></p>
      </article>{{ else }}
      <p class="center">no stations found</p>{{ end }}
    </div>
  </section>{{ if .Info }}

  <form action="whitelist" method="get">
  <section class="light-gray">
      <div class="center">
        <button type="submit" name="mode" value="rm" class="large red">set invisible</button>
      </div>
      <div class="center">
        <input type="text" name="alias" placeholder="{{ .Info.Hostname }}" class="large">
      </div>
      <div class="center">
        <button type="submit" name="mode" value="add" class="large green">set visible</button>
      </div>
  </section>{{ end }}
  </form>
</main>

</body>

</html>
